<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Pokédex</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <header>
    <h1>Pokédex</h1>
    <nav class="barra-busca">
      <form id="busca" @submit.prevent="buscarPokemon">
        <input type="text" placeholder="Encontre seu Pokémon" v-model="textoBusca">
        <button type="submit">Buscar</button>
      </form>
    </nav>
  </header>

  <div v-if="pokemonSelecionado" class="detalhes-pokemon">
    <h2>{{ pokemonSelecionado.name }} (#{{ pokemonSelecionado.id }})</h2>
    <img :src="pokemonSelecionado.sprites.front_default" alt="Imagem do Pokémon">
    <p><strong>Tipo:</strong> {{ pokemonSelecionado.types.map(type => type.type.name).join(', ') }}</p>
    <p><strong>Peso:</strong> {{ pokemonSelecionado.weight / 10 }} kg</p>
    <p><strong>Altura:</strong> {{ pokemonSelecionado.height / 10 }} m</p>
    <p><strong>Habilidades:</strong> {{ pokemonSelecionado.abilities.map(ability => ability.ability.name).join(', ') }}</p>
    <p><strong>Experiência base:</strong> {{ pokemonSelecionado.base_experience }}</p>
    <button @click="voltarLista">Voltar</button>
  </div>

  <div v-else class="container-pokemon">
    <ul>
      <li v-for="pokemon in pokemonsFiltrados" :key="pokemon.id" :style="obterClasseTipo(pokemon)" class="cartao-pokemon" @click="selecionarPokemon(pokemon)">
        <div>
          <p>{{ pokemon.name }}</p>
          <div class="imagem-pokemon">
            <img :src="pokemon.sprites.front_default" alt="Imagem do Pokémon">
          </div>
          <p>{{ pokemon.types[0].type.name }}</p>
          <p v-if="pokemon.types.length > 1">{{ pokemon.types[1].type.name }}</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="carregando" v-if="loading">
    <h1>Carregando...</h1>
  </div>
</div>

<script src="index.js"></script>
</body>
</html>
